.calendar {
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 300px;
    font-size: 20px;
    z-index: 2;
    font-size: 1em;
}

.myinput {
    border: none;

}

.myinput:focus {
    outline-offset: 3px;
    outline-color: rgb(0, 209, 146);
}