.color_marker{
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
}
.not-select-bg{
       background: #f2f2f2;
}
.raisedbox {
    border: 1px none #dee0e4;
 
    box-shadow: -1px 1px #dee0e4,
        -1px 1px #dee0e4,
        -1px 1px #dee0e4,
        -1px 1px #dee0e4,
        -1px 1px #dee0e4;
}

span{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}