
* {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 500ms;
}

body {
    background: rgb(244, 244, 244);
    font-family: 'Courier New', Courier, monospace;
}
li a {
  list-style-type: none;
  text-decoration-line: none;
}


.itemlist {
  min-height: 40vh;
  overflow: scroll;
}

.section-form {
  position: relative;
}

.bg-water-blue {
  background-color: rgb(89, 179, 224);
}

.bg-water-blue:hover {
  background-color: rgb(56, 166, 221);

}



